@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="主键" value="${item.id}" underline="true"/>
                            <#input id="atvCustNo" name="客户编号" value="${item.atvCustNo}" underline="true"/>
                            <#input id="atvDate" name="交往日期" value="${item.atvDate}" />
                </div>

                <div class="col-sm-6">
                            <#input id="atvPlace" name="交往地点" value="${item.atvPlace}" underline="true"/>
                            <#input id="atvTitle" name="交往概要" value="${item.atvTitle}" underline="true"/>
                            <#input id="atvDesc" name="详细信息" value="${item.atvDesc}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ActivityInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ActivityInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/recordact/activity/activity_info.js"></script>
@}
