<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.ChanceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.Chance">
        <id column="id" property="id" />
        <result column="chc_source" property="chcSource" />
        <result column="chc_cust_name" property="chcCustName" />
        <result column="chc_title" property="chcTitle" />
        <result column="chc_rate" property="chcRate" />
        <result column="chc_linkman" property="chcLinkman" />
        <result column="chc_tel" property="chcTel" />
        <result column="chc_create_id" property="chcCreateId" />
        <result column="chc_create_date" property="chcCreateDate" />
        <result column="chc_due_id" property="chcDueId" />
        <result column="chc_due_date" property="chcDueDate" />
        <result column="chc_status" property="chcStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, chc_source, chc_cust_name, chc_title, chc_rate, chc_linkman, chc_tel, chc_create_id, chc_create_date, chc_due_id, chc_due_date, chc_status
    </sql>

</mapper>
