<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.CustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.Customer">
        <id column="cust_no" property="custNo" />
        <result column="cust_name" property="custName" />
        <result column="cust_region" property="custRegion" />
        <result column="cust_manager_id" property="custManagerId" />
        <result column="cust_level" property="custLevel" />
        <result column="cust_satisfy" property="custSatisfy" />
        <result column="cust_credit" property="custCredit" />
        <result column="cust_addr" property="custAddr" />
        <result column="cust_zip" property="custZip" />
        <result column="cust_tel" property="custTel" />
        <result column="cust_website" property="custWebsite" />
        <result column="cust_licence_no" property="custLicenceNo" />
        <result column="cust_chieftain" property="custChieftain" />
        <result column="cust_bankroll" property="custBankroll" />
        <result column="cust_turnover" property="custTurnover" />
        <result column="cust_status" property="custStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cust_no, cust_name, cust_region, cust_manager_id, cust_level, cust_satisfy, cust_credit, cust_addr, cust_zip, cust_tel, cust_website, cust_licence_no, cust_chieftain, cust_bankroll, cust_turnover, cust_status
    </sql>

</mapper>
