<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.OrdersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.Orders">
        <id column="id" property="id" />
        <result column="odr_customer_no" property="odrCustomerNo" />
        <result column="odr_date" property="odrDate" />
        <result column="odr_addr" property="odrAddr" />
        <result column="odr_status" property="odrStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, odr_customer_no, odr_date, odr_addr, odr_status
    </sql>

</mapper>
