<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.OrdersLineMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.OrdersLine">
        <id column="id" property="id" />
        <result column="odd_order_id" property="oddOrderId" />
        <result column="odd_prod_id" property="oddProdId" />
        <result column="odd_count" property="oddCount" />
        <result column="odd_unit" property="oddUnit" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, odd_order_id, odd_prod_id, odd_count, odd_unit
    </sql>

</mapper>
